<%- include('partials/header.ejs') %>
<main>
    <div class="req-container">
        <h2><%= username %></h2>


        <!-- enctype="multipart/form-data" is an HTML form attribute that you need when your form includes file uploads.
        
        By default, HTML forms send data in "application/x-www-form-urlencoded" format, which works fine for text fields. But files (like images) need a different format so they can be sent as binary data.
        multipart/form-data tells the browser to send the form in multiple parts, including the file contents. -->
        <form action="/userRequests" method="POST" enctype="multipart/form-data">
           <!-- A hidden input so it gets submitted later: -->
            <input type="hidden" name="genre" value="<%= genre %>">
            <textarea id="request" name="request" placeholder="MAKE YOUR REQUEST HERE..." required></textarea>

            <!-- Ask user if they want to upload image -->
            <div class="upload-toggle">
                <input type="checkbox" id="uploadCheck" style="margin: 0;">
                <label for="uploadCheck">
                    Do you want to upload an image?
                </label>
            </div>

            <!-- Hidden upload box -->
             <div class="image-upload" id="imageUploadBox" style="display:none; margin-top: 5px; position: relative;">
                        <!-- Upload text (hidden once image is uploaded) -->
                        <label for="book_image" id="uploadLabel" style="cursor: pointer; text-align:center; width:100%; height:100%; display:flex; align-items:center; justify-content:center;">
                            📂 Click to upload
                        </label>

                        <input type="file" id="book_image" name="book_image" accept="image/*" />

                        <!-- Image preview (hidden by default) -->
                        <img id="previewImage" src="" alt="Preview">
                </div>


            <br />
            <button class="btn">REQUEST</button>
        </form>
    </div>
</main>

<%- include('partials/footer.ejs') %>
<script src="/js/app.js"></script>